body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  background: rgb(27, 27, 27);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.image-container {
  position: relative;
}
/* image and video css you can chnage the size here by chnaging width and height property object-fit will make it perfect so that image is look perfect */
img {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: contain;
  margin: auto;
}
video {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: contain;
  margin: auto;
}
/* make the arrow close to the edge */
.react-multiple-carousel__arrow--right {
  margin-right: -2rem !important;

  transition: all 0.5s;
}
.react-multiple-carousel__arrow--left {
  margin-left: -2rem !important;
}

.btn {
  position: absolute;
  top: 3rem;
  right: 10rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: white;
}
.btn:hover {
  transform: scale(1.2);
}
.btn:active {
  transform: scale(1.05);
}
.btn img {
  height: 100%;
  width: 100%;
}

/* this is for the responsiveness */
@media only screen and (max-width: 1400px) {
  .btn {
    top: 3rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .btn {
    top: 5rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 1100px) {
  .btn {
    top: 6rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 1000px) {
  .btn {
    top: 8rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .btn {
    top: 10rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .btn {
    top: 11.5rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  img {
    object-fit: contain;
  }

  .btn {
    top: 14rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 600px) {
  img {
    object-fit: contain;
  }

  .btn {
    top: 16rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 500px) {
  img {
    object-fit: contain;
  }

  .btn {
    top: 17rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .btn {
    top: 19rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
